table.order-items {
    width: 100%;
    height: 200px;
}
tr {
    border: 1px solid #ddd;
}
.order-items td {
    padding-left: 20px;
}
.order-items th {
    padding-left: 20px;
}
.orders {
    margin-top: 30px;
}
.orders h2 {
    margin-bottom: 20px;
}
.checkOutBtn {
    text-align: end;
    margin-top: 20px;
}